<?xml version="1.0" encoding="UTF-8"?>
<language id="DE">
<announcement>
<text id="ANN_ANNOUNCEMENT" version="2.2.0">Ankündigung</text>
</announcement>
<system>
<text id="SYS_BACK" version="2.2.0">Zurück</text>
<text id="SYS_CREATE" version="2.2.0">Anlegen</text>
<text id="SYS_EDIT" version="2.2.0">Bearbeiten</text>
<text id="SYS_DELETE" version="2.2.0">Löschen</text>
<text id="SYS_HEADLINE" version="2.2.0">Überschrift</text>
<text id="SYS_HELP" version="2.2.0">Hilfe</text>
<text id="SYS_MANDATORY_FIELD" version="2.2.0">Pflichtfeld</text>
<text id="SYS_SAVE" version="2.2.0">Speichern</text>
<text id="SYS_TEXT" version="2.2.0">Text</text>
<text id="SYS_PHR_CREATE" version="2.2.0">%VAR1% anlegen</text>
<text id="SYS_PHR_CREATED_BY" version="2.2.0">Angelegt von %VAR1% am %VAR2%</text>
<text id="SYS_PHR_EDIT" version="2.2.0">%VAR1% bearbeiten</text>
<text id="SYS_PHR_ENTRY_MULTI_ORGA" version="2.2.0">Eintrag für mehrere Organisationen sichtbar</text>
<text id="SYS_PHR_LAST_EDITED_BY" version="2.2.0">Zuletzt bearbeitet von %VAR1% am %VAR2%</text>
<text id="SYS_PHR_NO_ENTRY" version="2.2.0">Der angeforderte Eintrag existiert nicht in der Datenbank.</text>
<text id="SYS_PHR_NO_ENTRIES" version="2.2.0">Es sind keine Einträge vorhanden.</text>
</system>
<ecards>
<text id="ECA_GREETING_CARD_NEED_JAVASCRIPT" version="2.2.0">Um eine Grußkarte versenden zu können wird Javascript benötigt!<br/>Bitte aktiviere Javascript um eine Grußkarte versenden zu können!</text>
<text id="ECA_VIEW_PICTURE_FULL_SIZED" version="2.2.0">Bild in voller Größe anzeigen</text>
<text id="ECA_GREETING_CARD_EDIT" version="2.2.0">Grußkarte bearbeiten</text>
<text id="ECA_GREETING_CARD_SEND" version="2.2.0">Grußkarte wegschicken</text>
<text id="ECA_TO" version="2.2.0">An</text>
<text id="ECA_PLEASE_CHOOSE" version="2.2.0">Bitte wählen</text>
<text id="ECA_CONTENT_LOADING" version="2.2.0">Inhalt wird geladen - Bitte warten!</text>
<text id="ECA_NO_USER_WITH_VALID_EMAIL" version="2.2.0">Kein User vorhanden der eine gültige E-mail besitzt!</text>
<text id="ECA_EMAIL_LOOKS_INVALID" version="2.2.0">E-mail Adresse scheint falsch zu sein!</text>
<text id="ECA_INTERNAL_RECIPIENT" version="2.2.0">interner Empfänger</text>
<text id="ECA_EXTERNAL_RECIPIENT" version="2.2.0">externer Empfänger</text>
<text id="ECA_OTHER_RECIPIENT" version="2.2.0">Anderer Empfänger</text>
<text id="ECA_TO_ALL_MEMBERS_FROM_A_ROLE" version="2.2.0">An die gesamte Rolle</text>
<text id="ECA_PLEASE_CHOOSE_VALID_ROLE" version="2.2.0">Bitte wählen Sie eine gültige Rolle aus!</text>
<text id="ECA_MORE_RECIPIENTS" version="2.2.0">Weitere Empfänger</text>
<text id="ECA_NO_MORE_RECIPIENTS" version="2.2.0">Keine weiteren Empfänger</text>
<text id="ECA_SHURE_YOU_WHANT_TO_DELETE_ALL" version="2.2.0">Bist du sicher das du alle löschen willst?</text>
<text id="ECA_RECIPIENT_NAME" version="2.2.0">Empfänger Name</text>
<text id="ECA_RECIPIENT_EMAIL" version="2.2.0">Empfänger Email</text>
<text id="ECA_RECIPIENT" version="2.2.0">Empfänger</text>
<text id="ECA_NAME" version="2.2.0">Name</text>
<text id="ECA_EMAIL" version="2.2.0">E-mail</text>
<text id="ECA_ADD_RECIPIENTS" version="2.2.0">Empfänger hinzufügen</text>
<text id="ECA_SENDER" version="2.2.0">Absender</text>
<text id="ECA_MESSAGE" version="2.2.0">Nachricht</text>
<text id="ECA_NAME_OF_SENDER" version="2.2.0">Name des Absenders</text>
<text id="ECA_EMAIL_OF_SENDER" version="2.2.0">E-Mail des Absenders</text>
<text id="ECA_NAME_OF_RECIPIENT" version="2.2.0">Name des%VAR1%Empfängers</text>
<text id="ECA_EMAIL_OF_RECIPIENT" version="2.2.0">E-Mail des%VAR1%Empfängers</text>
<text id="ECA_THE_MESSAGE" version="2.2.0">Eine Nachricht</text>
<text id="ECA_YOUR_MESSAGE" version="2.2.0">Deine Nachricht</text>
<text id="ECA_STILL_XCHARS_AVAILABLE" version="2.2.0">noch %VAR1% Zeichen</text>
<text id="ECA_BLEND_IN_SETTINGS" version="2.2.0">Einstellungen einblenden</text>
<text id="ECA_BLEND_OUT_SETTINGS" version="2.2.0">Einstellungen ausblenden</text>
<text id="ECA_SETTINGS" version="2.2.0">Einstellungen</text>
<text id="ECA_TEMPLATE" version="2.2.0">Template</text>
<text id="ECA_FONT" version="2.2.0">Schriftart</text>
<text id="ECA_FONT_SIZE" version="2.2.0">Schriftgröße</text>
<text id="ECA_FONT_COLOR" version="2.2.0">Schriftfarbe</text>
<text id="ECA_FONT_STYLE" version="2.2.0">Schrifttyp</text>
<text id="ECA_BOLD" version="2.2.0">Fett</text>
<text id="ECA_ITALIC" version="2.2.0">Kursiv</text>
<text id="ECA_PREVIEW" version="2.2.0">Vorschau</text>
<text id="ECA_SEND" version="2.2.0">Abschicken</text>
<text id="ECA_MESSAGE_HAS_TO_BE_ONLY_XCHARS_LONG" version="2.2.0">Die Nachricht darf maximal %VAR1% Zeichen lang sein!</text>
<text id="ECA_FOLLOWING_INPUT_FIELD_ARE_INCORRECT" version="2.2.0">Du hast die folgenden, für die\nGrußkarte notwendigen Eingabefelder\nnicht bzw. nicht richtig ausgefüllt:</text>
<text id="ECA_PLEASE_FILL_THE_NAMED_INPUT_FIELDS" version="2.2.0">Bitte füll die genannten Eingabefelder\nvollständig aus und klick dann erneut\nauf \"Abschicken\".</text>
<text id="ECA_A_ECARD_FROM" version="2.2.0">Eine Grußkarte von</text>
<text id="ECA_GREETING_CARD_PREVIEW" version="2.2.0">Vorschau der Grußkarte:</text>
<text id="ECA_GREETING_CARD_SUCCESSFULLY_SEND">Deine Grußkarte wurde erfolgreich versendet.</text>
<text id="ECA_NEW_MESSAGE_RECEIVED" version="2.2.0">Neue Nachricht erhalten</text>
<text id="ECA_GREETING_CARD" version="2.2.0">Grußkarte</text>
</ecards>
</language>