# NEVER commit your own config with your user-credentials
/adm_my_files/config.php

# Don't commit your own stuff
/adm_my_files/*
!/adm_my_files/mail_templates/
!/adm_my_files/config_example.php
!/adm_my_files/.htaccess
!/adm_my_files/index.html

# Only allow commit of official plugins
/adm_plugins/*
!/adm_plugins/birthday/
!/adm_plugins/calendar/
!/adm_plugins/login_form/
!/adm_plugins/random_photo/
!/adm_plugins/sidebar_announcements/
!/adm_plugins/sidebar_dates/
!/adm_plugins/sidebar_downloads/
!/adm_plugins/sidebar_online/

# Phar Files
/*.phar

# For custom configuration
/.php_cs

.idea/*
