# NEVER commit your own config with your user-credentials
/adm_my_files/config.php

# Don't commit your own stuff
/adm_my_files/*
!/adm_my_files/ecard_templates/
!/adm_my_files/mail_templates/
!/adm_my_files/config_example.php
!/adm_my_files/.htaccess
!/adm_my_files/index.html

# Only allow commit of official plugins
/plugins/*
!/plugins/birthday/
!/plugins/calendar/
!/plugins/login_form/
!/plugins/random_photo/
!/plugins/announcement_list/
!/plugins/event_list/
!/plugins/latest_documents_files/
!/plugins/who_is_online/


# Only allow commit of official themes
/themes/*
!/themes/simple/

# Don't commit the external libs from vendor folder
/vendor

# Some special OS files that should not commited
/*.phar
.DS_Store
php-cs-fixer

# Project-specific IDE settings are local for each developer
/.vscode/

# For custom configuration
/.php_cs
/.idea
custom_*.*
