# Default
* text=auto

# Images
*.png binary
*.jpg binary

# exclude some folders in zip
/.* export-ignore
/demo/ export-ignore
/demo_data/ export-ignore
/hooks/ export-ignore
/dockerscripts/ export-ignore
/Dockerfile export-ignore
