
body {   
   color:            #444444;
   font-family:      Arial,Verdana,Helvetica,sans-serif;
   font-size:        9pt;
   background-color: #eeeeee;
   text-align:       center;
}

/* Links */

a:link {
   color:            #E0791F;
   font-weight:      bold;
   text-decoration:  none;
}

a:visited {
   color:            #E0791F;
   font-weight:      bold;
   text-decoration:  none;
}

a:hover {
   color:            #E0791F;
   font-weight:      bold;
   text-decoration:  underline;
}

/* Menue-Style-Sheets */

a.menu:link {
   color:            #dddddd;
   font-weight:      bold;
   text-decoration:  underline;
}

a.menu:visited {
   color:            #cccccc;
   font-weight:      bold;
   text-decoration:  underline;
}

a.menu:hover {
   color:            #ffffff;
   font-weight:      bold;
   text-decoration:  underline;
}

.menuHeadline {
   font-size:        11pt;
   font-weight:      bold;
}

/* Sonstige Stylesheets fuer den Inhalt */

td {
   font-size:        10pt;
   text-align:       left;
}

h1 {
   color:            #333333;
}

h2 {
   color:            #85C226;
}

.code {
	font-family: 	Courier New, Courier;
}


.parameter {
	border: 		2px solid lightgray;
	vertical-align: top;
}

.notice {
	border: 		2px dashed darkgray;
	background-color: #eeeeee;
	padding: 5px;
}

th.parameter {
	color:			gray;
	padding:		5px;
	font-size:		10pt;
}

td.parameter {
	padding:		5px;
}